<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="outer">
        <h1>Welcome to Tharun QR Website</h1>
        <div class="buttons">
            <a href="/create">Create</a>
        
            <a href="/update">Update</a>

            <a href="/delete">Delete</a>
        </div>
        <div class="details">
            <div class="inner_details">
                <h3>Create</h3>
                <p>It creates a new Qr with the given values it will be saved at an location</p>
            </div>
            <div class="inner_details">
                <h3>Update</h3>
                <p>It update the existing value in the data base not generate new qr, unique_id is mandatory</p>
            </div>
            <div class="inner_details">
                <h3>Delete</h3>
                <p>It Delete the instance from database instance, unique_id is mandatory</p>
            </div>
        </div>
        <a href="/admin_login">Admin Login</a>
    </div>
    
</body>
</html>